.mainCont {
  width: 100%;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.secondaryDiv {
  padding: 0 3%;
}
.selectors {
  width: 98%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background-clip: border-box;
  border: 1px solid rgba(170, 221, 238, 0.3333333333333333);
  border-radius: 1rem;
  box-shadow: 0 5px 20px 2px rgb(170 221 238 / 13%);
  background-color: #fdffff;
  padding: 1% 2%;
  box-sizing: border-box;
}
.selectedOption {
  border: 1px solid #1adb80;
  border-radius: 10px;
  width: max-content;
  padding: 5px 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}
.selectedOption > p {
  margin: unset;
  padding: unset;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
}
.dropholder {
  display: grid;
  place-items: center;
  padding: 2px 3px;
}
.otherOptionsCont {
  display: none;
}
.downIcon {
  color: rgba(0, 0, 0, 0.7);
}
.otherOptions {
}
.otherOptions > p {
}
.copyRightCont {
  width: 100%;
  margin-top: 5%;
  text-align: center;
}
.CopyRightP {
  margin: unset;
  padding: unset;
}
