.mainCont {
  width: 100%;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.secondaryDiv {
  padding: 0 3%;
}
.selectors,
.linkList {
  height: inherit;
  width: 98%;
  margin: 0 auto;
  background-clip: border-box;
  border: 1px solid rgba(170, 221, 238, 0.8333333333333333);
  border-radius: 1rem;
  box-shadow: 0 5px 20px 2px rgb(170 221 238 / 13%);
  padding: 1% 2%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 500ms;
  margin-bottom: 1%;
  background: linear-gradient(270deg, #fdffff, #c8e6f3);
}
.linkList {
  position: relative;
  min-height: 75vh;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.initialDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.initialDiv > p {
  margin: unset;
  padding: unset;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 800;
  font-size: 13px;
  color: #fdffff;
}
.selectedOption,
.selectedUserOption,
.selectDate,
.showBtn {
  border: 1px solid #0a3556;
  border-radius: 10px;
  width: max-content;
  padding: 7px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  background-color: #0a3556dd;
}
.showBtn {
  border-color: #0a3556dd;
  background-color: #fdffff;
  padding: 3px 25px;
  transition: 0.5s;
  border-width: 2px;
}
.showBtn:hover {
  border-color: #0a3556dd;
  background-color: #0a3556dd;
  transform: scale(1.1);
}

.selectedUserOption {
  /* min-width: 100px;
  max-width: 150px; */
}
.selectedOption > p,
.selectedUserOption > p,
.selectDate > p {
  margin: unset;
  padding: unset;
  /* color: rgba(0, 0, 0, 0.5); */
  font-weight: 700;
  font-size: 13px;
  color: #fdffff;
}
.showBtn > p {
  margin: unset;
  padding: unset;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 900;
  font-size: 13px;
  color: #0a3556dd;
  padding: 4px 2px;
  transition: all 0.5s;
}
.showBtn:hover > p {
  color: #fdffff;
}
.selectedUserOption > p {
  max-width: 120px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropholder {
  display: grid;
  place-items: center;
  padding: 2px 0px 2px 5px;
  color: #fdffff;
}
.otherOptionsContShow {
  border-radius: 10px;
  box-sizing: border-box;
  width: max-content;
  position: absolute;
  top: 110%;
  left: -12%;
  transition: 0.3s;
  min-width: 150px;
  max-height: 60vh;
  overflow-y: scroll;
  z-index: 10;
  background-color: #0a355657;
  padding: 4% 0;
}
.otherOptionsContHide {
  display: none;
}
.downIcon {
  color: #fdffff;
  padding: unset;
  margin: unset;
  transition: 0.3s;
}
.rotatedIcon {
  transform: rotateZ(180deg);
}
.otherOptions {
}
.otherOptions > p {
  padding: 0 2px;
  margin: 2% auto;
  background-color: #fdffff;
  color: #0a3556dd;
  font-size: 12px;
  font-weight: 600;
  padding: 3% 1% 3% 4%;
  min-width: 100px;
  width: 120px;
  border-radius: 10px;
  text-align: left;
  border: 1px solid #0a3556dd;
}
.otherOptions:hover > p {
  border: 1px solid #0a3556dd;
  color: #fdffff;
  background-color: #0a3556dd;
}
input[type="date"] {
  outline: none;
  border: none;
  appearance: none;
  font-size: 11px;
  font-weight: 600;
  background: transparent;
  user-select: none;
  padding-left: 5px;
  caret-color: #1adb80;
  color: #fdffff !important;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
input[type="date"],
focus {
  color: rgba(0, 0, 0, 0.5);
  color: #fdffff !important;
  box-shadow: none;
  font-size: 13px;
}
.linksContainer {
  width: 98%;
  margin: 0 auto;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  flex-wrap: wrap;
  max-height: 69vh;
  overflow-y: auto;
  padding-left: 4%;
}
.linksContainerA {
  width: 98%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-height: 69vh;
  overflow-y: auto;
  padding-left: 4%;
}
.delCont {
  min-width: 45%;
  max-width: calc(50% - 5px);
  margin: 0 10px 10px 10px;
  background-clip: border-box;
  border: 1px solid rgba(170, 221, 238, 0.3333333333333333);
  border-radius: 1rem;
  box-shadow: 0 2.5px 10px 1px rgb(170 221 238 / 13%);
  background-color: #b30f28a8;
  color: #fdffff;
  padding: 1% 2%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.activeCont {
  min-width: 45%;
  max-width: calc(50% - 5px);
  margin: 0 10px 10px 10px;
  background-clip: border-box;
  border: 1px solid rgba(170, 221, 238, 0.3333333333333333);
  border-radius: 1rem;
  box-shadow: 0 2.5px 10px 1px rgb(170 221 238 / 13%);
  background-color: cadetblue;
  color: #fdffff;
  padding: 1% 2%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.linkHitsitsCont {
  background-color: #0a3556dd;
  color: #fdffff !important;
  padding: 1% 2%;
  border-radius: 10px !important;
  font-size: 12px;
  font-weight: 700 !important;
  margin: unset;
}
.linkCont > p:nth-of-type(1),
.linkCont > div > p:nth-of-type(1) {
  word-wrap: break-word;
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  padding: unset;
  margin: unset;
}
.userActionBtnsCont {
  display: grid;
  place-items: center;
  grid-template-columns: auto auto;
  column-gap: 8px;
  width: max-content;
  /* margin-top: 3px; */
}
.HoverNotification {
  border: 1px solid rgba(170, 221, 238, 0.3333333333333333);
  border-radius: 3px;
  box-shadow: 0 5px 20px 2px rgb(170 221 238 / 13%);
  font-size: 10px;
  padding: 2% 6px;
  font-weight: 600;
}
.viewIconCont,
.delIconCont {
  position: relative;
  cursor: pointer;
}
.viewIcon {
  color: #0c1117;
  font-size: 16px;
  padding: unset;
  margin: unset;
}
.delIcon {
  color: firebrick;
  font-size: 16px;
  padding: unset;
  margin: unset;
}
.viewIcon:hover {
  filter: drop-shadow(0 0 1.5px rgb(63, 63, 252, 0.5));
  transform: scale(1.3);
}
.delIcon:hover {
  filter: drop-shadow(0 0 1.5px rgba(255, 0, 0, 0.645));
  transform: scale(1.3);
}
.TbMinusVertical {
  font-size: 20px;
}
.viewHover,
.delHover {
  position: absolute;
  top: 100%;
  left: -40%;
  display: none;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.728);
  color: white;
}
.viewIconCont:hover .viewHover {
  display: block;
}
.delIconCont:hover .delHover {
  display: block;
}
.filtersOnMobile {
  position: relative;
}
.filterIconHolder {
  display: none;
}

.detHolder {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 98.5%;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.132);
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 0;
  border-radius: 1rem;
  z-index: 6;
}
.linkDeatilsCont {
  width: 50%;
  background-color: #fdffff;
  padding: 1% 2%;
  border: 1px solid rgba(170, 221, 238, 0.8333333333333333);
  border-radius: 1rem;
  box-shadow: 0 5px 20px 2px rgb(170 221 238 / 13%);
}
.link {
  color: #fdffff;
  font-weight: 800;
  font-size: 14px;
  margin-bottom: 3%;
  letter-spacing: 0.5px;
  background-color: #0a3556dd;
  padding: 1% 2%;
  border-radius: 10px;
  transition: all 0.3s;
  text-decoration: none;
  text-align: center;
}
.link:hover {
  color: #1adb45;
}
.createdBy {
  width: 98%;
  margin: 2% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
  border-bottom: 1px solid rgba(170, 170, 170, 0.192);
}
.createdBy > p:nth-of-type(1) {
  color: rgba(0, 0, 0, 0.91);
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 16px;
  width: 30%;
  text-align: left;
}
.createdBy > p:nth-of-type(2) {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  width: 70%;
  text-align: right;
}
.active {
  color: #fdffff;
  background: rgb(100, 166, 168);
  font-weight: 900;
  padding: 1% 2%;
  border-radius: 10px;
  transform: translateY(20px);
}
.hits {
  background-color: #0a3556dd;
  color: #fdffff !important;
  font-weight: 900 !important;
  padding: 1% 2%;
  border-radius: 10px !important;
  width: unset !important;
}
.deletedHolder {
  background-color: turquoise;
  width: max-content;
}
.deleted {
  color: #fdffff;
  background: #de1a1a;
  font-weight: 900;
  padding: 1% 2%;
  border-radius: 10px;
  text-align: center;
  width: max-content;
  margin-right: 3px;
}
.okayBtn {
  background: transparent;
  color: #1adb80;
  font-weight: 600;
  padding: 6px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: max-content;
  margin: 0 auto;
  transition: 0.3px;
  border: 1px solid #1adb80;
  letter-spacing: 1px;
  font-weight: 600;
}
.okayBtn:hover {
  border: 1px solid transparent;
  background-color: #1adb80;
  color: #fdffff;
}
.okayBtn:active {
  transform: translateY(2px);
}

/* -------------------------Media Queries------------ */
@media (max-width: px) {
}

@media (max-width: 768px) {
  .linkList {
    height: 80vh;
  }
  .filterIconHolder {
    display: block;
    background-clip: border-box;
    border: 1px solid rgba(170, 221, 238, 0.3333333333333333);
    border-radius: 50%;
    box-shadow: 0 5px 20px 2px rgb(170 221 238 / 13%);
    background-color: #fdffff;
    padding: 15px 15px 10px 15px;
    width: max-content;
    margin-bottom: 0.5%;
  }
  .filterIconHolder {
    color: #1adb80;
    font-size: 18px;
  }
  .selectors {
    flex-direction: column;
    justify-content: unset;
    width: 40vw;
    position: absolute;
    top: 110%;
    left: -50vw;
    height: 80vh;
    padding: 4% 1%;
    box-sizing: border-box;
    background: linear-gradient(45deg, #bbcee8, #e8ebf7);
    overflow: hidden;
  }
  .selectorsShow {
    flex-direction: column;
    justify-content: unset;
    width: 40vw;
    position: absolute;
    top: 115%;
    left: 0vw;
    height: 80vh;
    padding: 3% 1%;
    box-sizing: border-box;
    z-index: 3;
  }
  .selectedOption,
  .selectedUserOption,
  .selectDate,
  .showBtn,
  .selectedUser {
    border: 1px solid #1adb80;
    border-radius: 10px;
    width: 70%;
    margin: 2% auto;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 3;
  }
  .selectedUserOption {
    min-width: unset;
    max-width: unset;
    width: 70% !important;
    margin: 2% auto 2% auto;
  }
  .otherOptions {
    z-index: 10;
  }

  .showBtn {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    border-color: transparent;
    background-color: #1adb80;
    color: white;
  }
  .showBtn > p {
    text-align: center;
    color: #fdffff;
  }
  .showBtn:hover {
    transform: scale(1);
  }
  .otherOptionsContShow {
    position: unset;
    max-height: 30vh;
    overflow-y: auto;
  }
  .initialDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .initialDiv > p {
    margin: unset;
    padding: unset;
    font-weight: 700;
    font-size: 11px;
  }
  .selectedOption {
    flex-direction: column;
  }
  .selectedUserOption {
    flex-direction: column;
  }
}
