body {
  position: relative;
}
.mainCont {
  width: 100%;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.secondaryDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.routeDesc {
  resize: none;
}
.btn {
  background: transparent;
  background: #1adb80;
  color: #fff;
  font-weight: 600;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: max-content;
}
.formPartOne {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputFields {
  margin: 7px 0;
  width: 70%;
}

.slugHolder {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dividerDiv {
  width: 3px;
  height: 60vh;
  background-color: grey;
}
.formPartTwo {
  width: 48%;
  text-align: center;
}
.copyRightCont {
  position: absolute;
  bottom: 3%;
  left: 43%;
}
.CopyRightP {
  margin: unset;
  padding: unset;
}
