body {
  position: relative;
  background-color: rgba(170, 223, 224, 0.13725490196078433);
}

* {
  font-family: "Open Sans", sans-serif;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(0, 0, 0, 0.45);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(0, 0, 0, 0.45);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(0, 0, 0, 0.45);
}
.mainCont {
  width: 100%;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.secondaryDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
}

.btn {
  background: transparent;
  background: #1adb80;
  color: #fff;
  font-weight: 600;
  padding: 6px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: max-content;
  transition: 0.3px;
  border: 1px solid transparent;
  letter-spacing: 1px;
  font-weight: 600;
}
.btn:hover {
  border: 1px solid #1adb80;
  background-color: transparent;
  color: #1adb45;
}
.btn:active {
  transform: translateY(2px);
}
.createBtn {
  padding: 10px 40px;
  margin-top: 3%;
}
.formPartOne,
.formPartTwo {
  width: 48%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-clip: border-box;
  border: 1px solid rgba(170, 221, 238, 0.3333333333333333);
  border-radius: 1rem;
  box-shadow: 0 5px 20px 2px rgb(170 221 238 / 13%);
  background-color: #fdffff;
  padding: 3% 0;
}

.inputFields {
  width: 80%;
  margin: 2% 0;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  caret-color: #1adb80;
  border-radius: 0.25rem;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.inputFields:focus {
  color: #212529;
  background-color: #fff;
  border-color: #1adb80;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #1adb4464;
}
.slugHolder {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slug {
  width: 70%;
}
.desc {
  resize: none;
}
.dividerDiv {
  width: 3px;
  height: 60vh;
  background-color: grey;
}
.formPartTwo {
  width: 48%;
  text-align: center;
}
.copyRightCont {
  position: absolute;
  width: 100%;
  bottom: 3%;
  text-align: center;
}
.CopyRightP {
  margin: unset;
  padding: unset;
}
