body {
  position: relative;
  /* background-color: rgba(170, 223, 224, 0.13725490196078433); */
}

* {
  font-family: "Nunito Sans", sans-serif;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(0, 0, 0, 0.45);
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(0, 0, 0, 0.45);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(0, 0, 0, 0.45);
}
.mainCont {
  width: 100%;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
}
.secondaryDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
}

.btn {
  background: transparent;
  background: transparent;
  color: #1adb80;
  font-weight: 600;
  padding: 6px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: max-content;
  transition: 0.3px;
  border: 1px solid #1adb80;
  letter-spacing: 1px;
  font-weight: 600;
}
.btn:hover {
  border: 1px solid transparent;
  background-color: #1adb80;
  color: #fdffff;
}
.btn:active {
  transform: translateY(2px);
}
.createBtn {
  padding: 10px 40px;
  margin-top: 3%;
}
.formPartOne,
.formPartTwo {
  width: 48%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-clip: border-box;
  border: 1px solid rgba(170, 221, 238, 0.8333333333333333);
  border-radius: 1rem;
  box-shadow: 0 5px 20px 2px rgb(170 221 238 / 63%);
  background-color: #fdffff;
  background: linear-gradient(270deg, #fdffff, #c8e6f3);
  padding: 2% 0;
  box-sizing: border-box;
}

.inputFields,
.socialSelectorCont {
  width: 80%;
  margin: 1% 0;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.4);
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid rgba(170, 170, 170, 0.599);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  caret-color: #1adb80;
  border-radius: 0.25rem;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.desc {
  resize: none;
}
.inputFields:focus {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
  background-color: #fff;
  border-color: #1adb80;
  outline: 0;
  box-shadow: 0 0 0 0.5px #1adb4464;
}
.socialSelectorCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.instalogo,
.linlogo,
.utlogo,
.twlogo {
  font-size: 30px;
  cursor: pointer;
}
.otlogo {
  font-size: 22px;
}

/*.instalogo {
  color: #bc2a8d;
}
.linlogo {
  color: #0072b1;
}
.utlogo {
  color: #ff0000;
}
.twlogo {
  color: #1da1f2;
} */

.companyGif {
  width: 70px;
  height: 70px;
}

/* Media Queries */
@media (max-width: 1260px) {
  .slug {
    width: 60%;
  }
}
@media (max-width: 1100px) {
  .inputFields {
    font-size: 14px;
  }
  .btn {
    font-size: 14px;
  }
}
@media (max-width: 910px) {
  .btn {
    padding: 6px 10px;
    letter-spacing: 0.5px;
    font-weight: 500;
  }
}
@media (max-width: 768px) {
  .mainCont {
    padding-top: 2vh;
  }
  .secondaryDiv {
    flex-direction: column;
    padding: 0 1%;
  }
  .dividerDiv {
    display: none;
  }
  .formPartOne,
  .formPartTwo {
    width: 98%;
    margin-bottom: 2%;
  }
}
@media (max-width: 510px) {
  .mainCont {
    padding-bottom: 3%;
  }
}
@media (max-width: 380px) {
  .inputFields {
    font-size: 12px;
  }
  .btn {
    font-size: 12px;
  }
  .slug {
    width: 55%;
  }
  .genLinkCont > p {
    font-size: 14px;
  }
  .otherDetails > p {
    font-size: 12px;
  }
  .otherDetails > p > span {
    font-size: 14px;
  }
}

/* ---------------------------------------------------------------------- */

.genDetailsCont {
  width: 95%;
  min-height: calc(60vh);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  user-select: none;
}

.generatedLink > span:nth-of-type(1) {
  color: rgba(0, 0, 0, 0.91);
  font-weight: 900;
  letter-spacing: 0.5px;
  font-size: 16px;
  color: rgba(255, 0, 0, 0.775);
}
.generatedLink > span:nth-of-type(2) {
  font-size: 18px;
  font-weight: 600;
  color: #1adb80;
}
.otherDetails {
  min-width: 90%;
  margin: 0 auto;
}
.otherDetails > p {
  margin: 3% auto;
  font-style: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  word-break: break-all;
  padding-bottom: 1.5%;
  border-bottom: 1px solid rgba(170, 170, 170, 0.192);
}
.otherDetails > p > span:nth-of-type(2) {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: 400;
}
.otherDetails > p > span {
  color: rgba(0, 0, 0, 0.91);
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-right: 1%;
  font-style: normal;
}
.genLinkCont {
  width: 90%;
  margin: 0 auto;
}
.generatedLink {
  word-wrap: break-word;
  text-align: center;
  margin-bottom: 3%;
}
.otherDetails {
  background-clip: border-box;
  border: 1px solid rgba(170, 221, 238, 0.3333333333333333);
  border-radius: 1rem;
  box-shadow: 0 5px 20px 2px rgb(170 221 238 / 13%);
  background-color: #fdffff;
  padding: 2% 3%;
  box-sizing: border-box;
}
.otherDetails > p > a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}
.btn {
  background: transparent;
  background: #fdffff;
  color: #1adb80;
  font-weight: 600;
  padding: 6px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: max-content;
  transition: 0.3px;
  border: 1px solid #1adb80;
  letter-spacing: 1px;
  font-weight: 600;
}
.btn:hover {
  border: 1px solid transparent;
  background-color: #1adb80;
  color: #fdffff;
}
.btn:active {
  transform: translateY(2px);
}
.btn {
  padding: 10px 40px;
  margin-top: 3%;
}
.afterSend {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(to left, #0283c9e0, #c2e9fc);
  display: none;
  justify-content: center;
  align-items: center;
}
.afterSendShow {
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(to left, #0283c9e0, #c2e9fc);
  justify-content: center;
  align-items: center;
}
.notiCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notiCont > p {
  padding: unset;
  margin: unset;
  color: #fdffff;
  font-weight: 600;
}
.notiCont > a {
  color: #fdffff;
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 5%;
  letter-spacing: 1px;
  background-color: #0a3556dd;
  padding: 2% 5%;
  border-radius: 10px;
  transition: all 0.3s;
  text-decoration: none;
}
.notiCont > a:hover {
  color: #1adb45;
}
