.mainCont {
  width: 100%;
  float: right;
  background: linear-gradient(to right, #00031d, #000536);
  /* background: aqua; */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 3% 0.5% 3%;
  user-select: none;
  height: 10vh;
  z-index: 2;
}
.leftMain {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 35%;
  box-sizing: border-box;
}
.logoCont {
  width: 30%;
  padding: 3%;
}
.logoCont > img {
  width: 30%;
}
.navOptnCont {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -10%;
}
.dateTimeLogoutCont {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.secDiv {
  width: 70%;
}
.dateCont {
  margin: unset;
}
.timeCont {
  margin: unset;
}
.navOptns {
  cursor: pointer;
}
.navOptns:active {
  transform: translateY(5px);
}
.navOptns:hover {
  color: red;
}
