.mainCont {
  background-color: antiquewhite;
  margin-top: 1%;
}
.tabsCont {
  /* background-color: beige; */
  display: flex;
  justify-content: space-evenly;
}
.tabs {
  cursor: pointer;
}
.deviceName {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Loader Animation Code */
/* KEYFRAMES */

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
.spinnerBox {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.circleBorder {
  width: 14px;
  height: 14px;
  padding: 1.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #1adb80;
  background: linear-gradient(0deg, #fff 3%, #1adb80 70%);
  animation: spin 0.8s linear 0s infinite;
}

.circleCore {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
}
