.mainGcont {
  /* width: 100vw; */
  height: 100vh;
  user-select: none;
  position: relative;
}
.sidePlusMain {
  margin-top: 10vh;
}
.mainAppCont {
  position: absolute;
  left: 20%;
  top: 10%;
  width: 80%;
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.graphCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slectedgraphDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  padding: 3% 2%;
  background-color: rgb(2, 9, 69, 1);
}
.slectedgraphLeftDiv {
  width: 59%;
}
.slectedgraphRightDiv {
  width: 39%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 5px solid grey;
  padding: 1.5% 1%;
  margin-left: 5%;
}
.graphNameNdetails {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.graphName {
  margin: unset;
  font-weight: 600;
  color: rgba(245, 245, 245, 1);
}
.axesDetails {
  margin: unset;
  color: rgba(245, 245, 245, 0.582);
  margin: 3% 0;
}

.majorDetails {
  padding: 1% 1.5%;
  margin: unset;
  letter-spacing: 0.5px;
  line-height: 1.5;
  width: 75%;
  margin: 0 auto;
  color: rgba(245, 245, 245, 0.864);
}
.nxtGraphsHead {
  text-align: center;
  padding-top: 2%;
  color: whitesmoke;
  text-shadow: 1px 1px 0px black;
}
.nxtGraphsContDiv {
  background-color: rgba(17, 170, 221, 0.42);
}
.nxtGraphsCont {
  padding: 0% 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.nextGraphSecCont {
  /* background-color: aquamarine; */
  width: 31%;
}
.nextgraphs {
  width: 100%;
  margin: 2% 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5%;
}
.nxtGraphName {
  margin: unset;
  margin-top: 5%;
  width: 100%;
  text-align: center;
  font-weight: 700;
  color: whitesmoke;
  text-shadow: 1px 1px 0px black;
}
.nextGraphCont {
  width: 100%;
}
