@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  font-family: "Open Sans", sans-serif;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(0, 0, 0);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(255, 255, 255);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(255, 255, 255);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
}

.main_container {
  width: 100%;
  height: 100vh;
  background: url(../Assets/starryNight.jpeg);
  transition: 0.4s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  width: 400px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  background: rgba(0, 0, 0, 0.8);
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.inputContainer {
  margin: 10% 0;
  border-bottom: 2px solid white;
  padding: 3% 0;
  position: relative;
}
.userNameInput {
  background-color: transparent;
  font-weight: 600;
  outline: none;
  border: none;
  caret-color: whitesmoke;
  color: whitesmoke;
  letter-spacing: 3px;
  font-size: 15px;
  width: 90%;
}

.inputContainer span {
  position: absolute;
  left: 0;
  padding: 5px;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
  transition: 0.5s;
}
.userNameInput:valid ~ span {
  color: #1adb80;
  transform: translateX(0px) translateY(-80%);
  font-size: 12px;
}
.userNameInput:focus ~ span {
  color: #1adb80;
  transform: translateX(0px) translateY(-80%);
  font-size: 12px;
}
.logInBtn {
  background: transparent;
  border: none;
  outline: none;
  background: #1adb80;
  color: #fff;
  font-weight: 600;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: max-content;
  margin-top: 10%;
}
.FsImgCont {
  width: 20%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.logo {
  width: 30%;
}
.copyRightCont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
.CopyRightP {
  color: white;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
}
